@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

* {
  --white: #eef0f2;
  --rose: #c78283;
  --grey: #5D5E60;
  --black: #3d3a4b;
  --licorice: #1c110aff;
  --vanilla: #e4d6a7ff;
  --hunyadi-yellow: #e9b44cff;
  --rufous: #9b2915ff;
  --verdigris: #50a2a7ff;
}

body {
  font-family: "Fira Code", sans-serif;
  background-color: var(--white);
  margin: 0;
}

.profile {
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.picture {
  grid-column: 1;
  width: 50vw;
  max-width: 800px;
  justify-self: right;
}

.about {
  grid-column: 2;
  width: 50vw;
}

.name {
  color: var(--rose);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.occupation {
  color: var(--black);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.description {
  color: var(--grey);
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  font-weight: 300;
  padding: 0 2rem 0 2rem;
}

.socials {
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 30% 0 30%;
}






