/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

* {
  --white: #eef0f2;
  --rose: #c78283;
  --grey: #5D5E60;
  --black: #3d3a4b;
  --licorice: #1c110aff;
  --vanilla: #e4d6a7ff;
  --hunyadi-yellow: #e9b44cff;
  --rufous: #9b2915ff;
  --verdigris: #50a2a7ff;
}

body {
  font-family: "Fira Code", sans-serif;
  background-color: var(--white);
  margin: 0;
}

p {
  color: rgb(85, 85, 85);
}


/* SECTIONS */

section {
  height: 96vh;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__equals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  font-weight: bold;
  font-size: 3rem;
} 

.section__text {
  align-self: center;
  text-align: center;
  margin-left: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section__text__p1 {
  margin-bottom: 2rem;
  text-align: justify;
  font-weight: 300;
  max-width: 25vw;
}

.section__text__p2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--licorice);
}

.title {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: var(--rose);
}

#socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
  transform: scale(2);
  color: var(--licorice);
}

/* ICONS */

.icon {
  cursor: pointer;
  color: var(--wine);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
